.guide_section
    - var i = sections.section
    - var c = sections.subsection
    h5(data-i18n="guide.sections."+i+".title")=i18n.t("guide.sections."+i+".title")
    h4(data-i18n="guide.sections."+i+".contents.title")=i18n.t(c)