include "../layout/layout.blade"
replace block page
    #map
        #zoom_level(style="visibility: hidden")
            button#zoom_out.btn="Zoom Out"
                i.icon-minus
        #LegendLabel
    script( type="text/javascript", src="js/vendor/d3/topojson.v0.min.js")
    script( type="text/javascript", src="js/map.js")
