@charset "utf-8";
@import "/css/vendor/bootstrap/bootstrap.min.css";
@import "/css/vendor/bootstrap/bootstrap-responsive.min.css";
@import "/css/vendor/font-awesome.min.css";
@import "/css/vendor/font-awesome-corp.css";
@import "/css/vendor/font-awesome-social.css";
@import "/css/vendor/famfam/cus-icons.css";

html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video {
    border: 0;
    outline: 0;
    vertical-align: top;
    background: transparent;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
body,input,select,textarea {
    line-height: 1;
    font-size: 96%;
}
body {
    position: relative;
    z-index: 0;
    background: #f0f0f0;
    overflow-y: auto;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

/*******************************************************************************/
/* Global Project Select */
/*******************************************************************************/

.project-select {
    background: #222;
    position: absolute;
    padding: 5px 0 0 0;
    margin: -150px 0 0 0;
    height: 150px;
    width: 100%;
}

.project-select ul li {
    height: 140px;
    list-style: none;
    display: block;
    float: left;
    width: 20%;
    margin: 0;
    padding: 10px 0 0;
}

.project-select ul li a {
    display: block;
    height: 130px;
    border-right: solid 1px rgba(0, 0, 0, 0.3);
    border-left: solid 1px rgba(150, 150, 150, 0.08);
    overflow: hidden;
    text-align: center;
    position: relative;
    text-decoration: none;
}

.project-select ul li:hover a em {
    opacity: 0.75;
}

.project-select ul li a em {
    display: block;
    color: #fff;
    opacity: 0.25;
    text-shadow: black 0 -1px 0;
    line-height: 130%;
    font-size: 9pt;
    margin-top: 15px;
    left: 5px;
    right: 5px;
    bottom: 0px;
    position: absolute;
    text-decoration: none;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.project-select ul li a img {
    width: 85%;
    margin: 10px 5%;
}

.navbar .brand {
    padding: 0px 20px 0px;
}

/*******************************************************************************/
/* Search */
/*******************************************************************************/
.navbar-inverse .navbar-search .search-query {
    background-color: #fff;
    border: solid 1px rgba(150, 150, 150, 0.08);
}

.navbar-search .search-query {
    -webkit-border-radius: 2px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius: 2px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 1px;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.navbar-search input[type="submit"] {
    display: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#floatingCirclesG{
position:relative;
width:37px;
height:37px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#FA0000;
height:7px;
width:7px;
-moz-border-radius:3px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.28s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:3px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.28s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:3px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.28s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:3px;
-o-animation-name:f_fadeG;
-o-animation-duration:1.28s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:3px;
animation-name:f_fadeG;
animation-duration:1.28s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:15px;
-moz-animation-delay:0.48s;
-webkit-animation-delay:0.48s;
-ms-animation-delay:0.48s;
-o-animation-delay:0.48s;
animation-delay:0.48s;
}

#frotateG_02{
left:4px;
top:4px;
-moz-animation-delay:0.64s;
-webkit-animation-delay:0.64s;
-ms-animation-delay:0.64s;
-o-animation-delay:0.64s;
animation-delay:0.64s;
}

#frotateG_03{
left:15px;
top:0;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

#frotateG_04{
right:4px;
top:4px;
-moz-animation-delay:0.96s;
-webkit-animation-delay:0.96s;
-ms-animation-delay:0.96s;
-o-animation-delay:0.96s;
animation-delay:0.96s;
}

#frotateG_05{
right:0;
top:15px;
-moz-animation-delay:1.12s;
-webkit-animation-delay:1.12s;
-ms-animation-delay:1.12s;
-o-animation-delay:1.12s;
animation-delay:1.12s;
}

#frotateG_06{
right:4px;
bottom:4px;
-moz-animation-delay:1.28s;
-webkit-animation-delay:1.28s;
-ms-animation-delay:1.28s;
-o-animation-delay:1.28s;
animation-delay:1.28s;
}

#frotateG_07{
left:15px;
bottom:0;
-moz-animation-delay:1.44s;
-webkit-animation-delay:1.44s;
-ms-animation-delay:1.44s;
-o-animation-delay:1.44s;
animation-delay:1.44s;
}

#frotateG_08{
left:4px;
bottom:4px;
-moz-animation-delay:1.6s;
-webkit-animation-delay:1.6s;
-ms-animation-delay:1.6s;
-o-animation-delay:1.6s;
animation-delay:1.6s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#FA0000}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#FA0000}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#FA0000}

}

@-o-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#FA0000}

}

@keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#FA0000}

}

/*******************************************************************************/
/* PAGE */
/*******************************************************************************/
#page {
    height: auto;
    overflow: none;
    padding: 38px 25px 10px;
}

#page p {
    display: block;
    margin: 15px 0;
}

/*******************************************************************************/
/* Left Navigation Menu */
/*******************************************************************************/
#nav-container {
    color: #eaeaea;
}
#nav-container h3, #nav-container h4, div[role="main"] aside.secondary h1, div[role="main"] aside.secondary h2, div[role="main"] aside.secondary h3, div[role="main"] aside.secondary h4, div[role="main"] aside.secondary h5, div[role="main"] aside.secondary h6 {
    text-shadow: 0 2px 2px #000;
}

body aside#nav-container #primary-nav h3 {
    clear: both;
}

body aside#nav-container h3 {
    font-size: 100%;
    margin-top: 7px;
}

body aside#nav-container {
    background: url('../images/nav-container.jpeg') left top repeat #4f4f50;
    width: 232px;
    height: 85%;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1;
}

body aside#nav-container {
    padding: 5px 12px;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#nav-container h3, #nav-container h4 {
    background: url('../images/nav-bkg.jpeg');
    border-left: 4px solid #5a7772;
    padding: 5px 8px 5px 10px;
    overflow: visible;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

#nav-container ul {
    background: url('../images/nav-ul-bkg.jpeg') left top repeat #393939;
    border-left: 4px solid #5a7772;
}

#nav-container li {
    margin-left: 10px;
}


#nav-container li a {
    display: block;
    color: #fff;
    text-decoration: none;
}

#nav-container li a:hover {
    background: #ccc;
    color: #000;
}

/**************************************************************************/
/* Navigation Toggle button */
/* ***********************************************************************/
div[role="main"] .mainarticle #nav-toggle {
    width: 37px;
    height: 37px;
    position: fixed;
    top: 40%;
    margin-left: 230px;
    display: block;
    border-radius: 25px;
    border: 4px solid #eaeaea;
    cursor: pointer;
    z-index: -1;
}

div[role="main"] .mainarticle #nav-toggle {
    background: url('../images/nav-close.png') no-repeat;
    z-index: 2;
}

div[role="main"] .mainarticle #nav-toggle:hover {
    border: 4px solid #f99d33;
}

div[role="main"] .mainarticle #nav-toggle.active {
    background: url('../images/nav-open.png') no-repeat;
}

/**************************************************************************/
/* Left navigation menu items */
/* ***********************************************************************/
#nav-container h3, #nav-container h4 {
    cursor: pointer;
}

#nav-container h3 span.menu-toggle, #nav-container h4 span.menu-toggle {
    padding-right: 0;
}

#nav-container span.menu-toggle {
    width: 21px;
    height: 21px;
    background-position: -283px -95px;
    float: right;
    margin: 3px -5px 0 0;
}

#nav-container span.menu-toggle, #nav-container span.menu-toggle:hover, #nav-container span.menu-toggle.open,#nav-container span.menu-toggle.open:hover {
    background: url(../images/nav-arrows-sprite.png) no-repeat;
}

#nav-container span.menu-toggle {
    background-position: 0 0;
    width: 14px;
    height: 12px;
}

#nav-container span.menu-toggle:hover {
    background-position: -16px 0;
    width: 14px;
    height: 12px;
}

#nav-container span.menu-toggle.open {
    background-position: -35px 0;
    width: 12px;
    height: 12px;
}

#nav-container span.menu-toggle.open:hover {
    background-position: -52px 0;
    width: 14px;
    height: 11px;
}

#nav-container ul.active {
    display: block;
}

#nav-container ul:not(.active) {
    display: none;
}
/**************************************************************************/
/* Guide page css */
/* ***********************************************************************/
div[role="main"] .mainarticle .content {
/* initially this is 232px from the left*/
margin-left: 240px;
padding: 10px 0px 0px 38px;
}

div[role="main"] .mainarticle .content.open {
/* initially this is 232px from the left*/
margin-left: 20px;
}

div[role="main"] .mainarticle .content .guide_section h5 {
/* initially this is 232px from the left*/
font-size: 117%;
}

div[role="main"] .mainarticle .content .guide_navigation {
    width: 37px;
    height: 37px;
    position: relative;
    float: right;
    display: block;
    border-radius: 25px;
    border: 4px solid #eaeaea;
    cursor: pointer;
    z-index: 2;
}

div[role="main"] .mainarticle .content .guide_navigation {
    background: url('../images/nav-open.png') no-repeat;
}

div[role="main"] .mainarticle .content .guide_navigation:hover {
    border: 4px solid #f99d33;
}
/*******************************************************************************/
/* Map */
/*******************************************************************************/
svg path.country {
    z-index: -1;
}

.member {
    z-index: 10;
}

svg > text > .city-name {
    font-size: 77%;
}
#tooltip {
    background: #4F4F4F;
    border: 1px solid #2C2929;
    border-radius: 6px;
    color: #FAFAFA;
    font-size: 14px;
    padding: 6px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    min-height: 15px;
    min-width: 100px;
}
.LegendLabel{
    background: #4F4F4F;
    position: relative;
    bottom: 300px;
}

#LegendLabel{
    font-size: 12px;
    font-weight: bold;
    
}

.Blues .q0-9{fill:rgb(247,251,255)}
.Blues .q1-9{fill:rgb(222,235,247)}
.Blues .q2-9{fill:rgb(198,219,239)}
.Blues .q3-9{fill:rgb(158,202,225)}
.Blues .q4-9{fill:rgb(107,174,214)}
.Blues .q5-9{fill:rgb(66,146,198)}
.Blues .q6-9{fill:rgb(33,113,181)}
.Blues .q7-9{fill:rgb(8,81,156)}
.Blues .q8-9{fill:rgb(8,48,107)}
.Blues .q9-9{fill:rgb(7,46,106)}


.background {fill: none;
  pointer-events: all;
}

#countries {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 0.5px;
}

#countries .active {
  fill: orange;
}

path.group-icon {
    fill: #000;
}

path.projects-icon {
    fill: #000;
}

path.skill-share-icon {
    fill: #000;
}

.chapters-network-list {
    -webkit-column-count:4;
       -moz-column-count:4;
            column-count:4;
}

@media print{*{text-shadow:none !important;} body{overflow:visible !important;} #header{display:none;} #notification{display:none !important;}
