script(type="text/javascript" src="/js/vendor/bootstrap/bootstrap.min.js")
script(type="text/javascript" src="/js/vendor/bootstrap/bootstrap-tab.js")
// script(type="text/javascript" src="/js/vendor/socket.io.min.js")
// script(type="text/javascript" src="/js/socket.js")
script(type="text/javascript" src="/js/locale.js")
-var footerJsPath = jsUrl("/js/footer.js")
script( type="text/javascript", data-main="#{footerJsPath}", src="#{footerJsPath}")